# Source: https://github.com/github/gitignore/blob/master/KiCad.gitignore

# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Backup folders
lemonbeat_dongle/dongle-backups/
lemonbeat_dongle_microjig/lemonbeat_dongle_microjig-backups/

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

### Custom additions ###

# Gerber files
gerber/

# output
output/

# Exported step files
output/*.step

# FreeCAD
*.FCStd1
